html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}
body .container {
  max-width: 1110px;
  margin: 0 auto;
}

.title {
  color: rgb(66, 63, 63);
  font-size: 30px;
  font-weight: 700;
}

.hr {
  margin: 35px 25px 0 25px;
  border: 0.5px solid rgb(66, 63, 63);
}

.pageup {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 40px;
}
.pageup img {
  width: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header__wrapper {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 10;
}
.header__logo img {
  width: 50px;
}
.header__navigation-a {
  text-decoration: none;
  padding-right: 45px;
  color: rgb(66, 63, 63);
  font-size: 24px;
  font-weight: 500;
}
.header__social-a {
  padding-right: 20px;
  cursor: pointer;
}
.header__social-a img {
  width: 40px;
}
.header__social-a:last-child {
  padding-right: 0;
}

.hamburger {
  position: fixed;
  display: none;
  top: 50px;
  left: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 36px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 100;
}
.hamburger span {
  margin-top: 3px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.hamburger_active span:nth-child(1) {
  -webkit-transform: translateY(9.5px) rotate(315deg);
          transform: translateY(9.5px) rotate(315deg);
}
.hamburger_active span:nth-child(2) {
  display: none;
}
.hamburger_active span:nth-child(3) {
  -webkit-transform: translateY(2px) rotate(-315deg);
          transform: translateY(2px) rotate(-315deg);
}

.my-info {
  padding: 150px 25px 0;
  height: 100vh;
}
.my-info__wrapper {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1mm solid rgb(66, 63, 63);
  border-radius: 15px;
}
.my-info__content {
  margin-left: 15px;
}
.my-info__content h2 {
  padding-top: 220px;
  color: rgb(66, 63, 63);
  font-size: 50px;
}
.my-info__content p {
  color: rgb(66, 63, 63);
  font-size: 30px;
}
.my-info__photo img {
  width: 100%;
  height: 100%;
  max-width: 500px;
}
.my-info__arrow {
  width: 50px;
  height: 50px;
}
.my-info__arrow img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 80px;
  width: 50px;
}

.works {
  padding-top: 40px;
}
.works__title {
  text-align: center;
}
.works__grid {
  padding: 40px 25px 0 25px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.works__grid-item {
  border: 1mm solid rgb(66, 63, 63);
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  max-height: 500px;
  text-align: center;
}
.works__grid-item img {
  border-radius: 15px;
  width: 100%;
}
.works__grid-item p {
  padding-top: 5px;
}

.skills {
  padding-top: 50px;
}
.skills__title {
  text-align: center;
}
.skills__wrapper {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  padding: 10px;
}
.skills__item img {
  width: 70px;
  height: 70px;
}
.skills__item p {
  margin-left: 10px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: rgb(66, 63, 63);
}
.skills__subtitle {
  padding-top: 30px;
  text-align: center;
}
.skills__subtitle-wrapper {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.skills__subtitle-wrapper p {
  padding-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(66, 63, 63);
}

.contacts {
  padding-top: 100px;
}
.contacts__title {
  text-align: center;
}
.contacts__subtitle {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(66, 63, 63);
  text-align: center;
}
.contacts__wrapper {
  text-align: center;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}
.contacts__tel a {
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  color: rgb(66, 63, 63);
  padding-top: 25px;
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts__form .error {
  font-size: 14px;
  color: rgb(66, 63, 63);
  text-align: center;
}
.contacts__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 300px;
}
.contacts__form form input {
  text-align: center;
  margin-top: 10px;
  width: 300px;
  height: 50px;
  border: 1mm solid rgb(66, 63, 63);
  border-radius: 15px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(66, 63, 63);
}
.contacts__form form input:first-child {
  margin-top: 0;
}
.contacts__btn {
  margin-top: 10px;
  border: 1mm solid rgb(66, 63, 63);
  border-radius: 15px;
  background-color: #fff;
  width: 300px;
  height: 50px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(66, 63, 63);
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.contacts__btn:hover {
  background-color: rgb(103, 101, 101);
  color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 11;
}
.overlay_active {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 325px;
  width: 100%;
  max-height: 390px;
  padding: 10px;
  background-color: rgba(253, 253, 253, 0.9);
  border-radius: 15px;
  z-index: 100;
}
.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal form .error {
  text-align: center;
  font-size: 14px;
  color: rgb(66, 63, 63);
}
.modal form input {
  margin-right: 0;
}
.modal__close {
  position: absolute;
  top: 0;
  right: -35px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.modal__subtitle {
  padding: 5px 0 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: rgb(66, 63, 63);
  text-align: center;
}
.modal_active {
  display: block;
}

.footer {
  height: 50px;
  background-color: rgb(0, 0, 0);
}
.footer__wrapper {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__wrapper a {
  text-decoration: none;
}

@media (max-width: 1280px) {
  .works__grid {
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__wrapper {
    padding: 30px 30px 0 30px;
  }
}
@media (max-width: 992px) {
  .header {
    text-align: center;
  }
  .header__wrapper {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    left: -100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-color: rgba(253, 253, 253, 0.9);
    z-index: 10;
  }
  .header__wrapper_active {
    left: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .header__logo img {
    position: relative;
  }
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navigation-a {
    padding-right: 0;
    padding-top: 35px;
  }
  .header__social {
    padding-top: 50px;
  }
  .header__social-a:first-child {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger span {
    display: block;
  }
  .my-info__content h2 {
    padding-top: 115px;
  }
  .works {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .my-info__content h2 {
    padding-top: 55px;
  }
  .my-info__content p {
    padding-bottom: 10px;
  }
  .works__grid {
    grid-template-columns: repeat(1, 300px);
  }
  .contacts {
    padding-top: 30px;
  }
  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__tel a {
    padding-top: 5px;
  }
  .contacts__form {
    padding-top: 10px;
  }
}
@media (max-width: 575px) {
  .my-info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works {
    padding-top: 250px;
  }
  .contacts__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .contacts__form form {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .contacts__btn {
    margin-top: 10px;
    width: 300px;
    height: 50px;
  }
}
@media (max-width: 374px) {
  .my-info__content h2 {
    padding-right: 25px;
    font-size: 30px;
  }
  .my-info__content p {
    font-size: 25px;
  }
  .works {
    padding-top: 50px;
  }
}/*# sourceMappingURL=main.css.map */