body {
    font-family: $font-lato;
      .container {
          max-width: 1110px;
          margin: 0 auto;
    }
}

.title {
	color: $text-color;
	font-size: 30px;
	font-weight: 700;
}

.hr {
    margin: 35px 25px 0 25px;
    border: 0.5px solid $text-color;
}

.pageup {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 40px;
    img {
        width: 50px;
        transform: rotate(180deg);
    }
}

.over {
    overflow: hidden;
}

