.contacts {
    padding-top: 100px;
    &__title {
        text-align: center;
    }
    &__wrapper {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__tel {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            font-size: 26px;
            font-weight: bold;
            color: $text-color;
            padding-top: 25px;
        }
    }
    &__form {
        display: flex;
        justify-content: center;
        form {
            display: flex;
            flex-direction: column;
            input {
                // padding: 5px;
                padding-left: 15px;
                margin-top: 10px;
                width: 300px;
                height: 50px;
                border: 1mm solid $text-color;
                border-radius: 15px;
                margin-right: 10px;
                font-size: 16px;
                font-weight: bold;
                color: $text-color;
            }
            input:first-child {
                margin-top: 0;
            }
        }
    }
    &__btn {
        // margin-top: 10px;
        border: 1mm solid $text-color;
        border-radius: 15px;
        background-color: #fff;
        height: 170px;
        padding: 5px;
        font-size: 16px;
        font-weight: bold;
        color: $text-color;
        cursor: pointer;
        transition: all 1s;
        &:hover {
            background-color: rgb(103, 101, 101);
            color:#fff;
        }
    }
}